#player-container {
  position: fixed;
  right: 2px;
  /*background: #000;*/
  z-index: 999;
}

.player {
  position: fixed !important;
  background: rgba(255,255,255,0.6) !important;
  backdrop-filter: blur(10px) !important;
  box-shadow: 0 -4px 1px rgba(0,0,0,0.6) !important;
}

.player:before {
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  -webkit-filter: blur(8px) !important;
  filter: blur(8px) !important;
  content: '' !important;
}

.hidden {
  display: none;
}

#minimized-mask {
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding-top: 25px;
  padding-left: 35px;
}

#minimized-mask:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
}

/* Mobile */


/* Tablet */
