#player-container {
  position: fixed;
  right: 2px;
  // bottom: 10px;
  /*background: #000;*/
  z-index: 999;
}

.player {
  /*background: rgba(255,255,255,0.6) !important;*/
  /*backdrop-filter: blur(10px) !important;*/
  /*box-shadow: 0 -2px 1px rgba(0,0,0,0.3) !important;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: var(--ion-toolbar-color);
  border-top: 0.55px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, #c8c7cc)));
}

.expanded {
  height: 200px;
  width: 300px;
  bottom: 76px;
  transition: ease-in 300ms;
}

.minimized {
  bottom: 0px;
  height: 74px;
  width: 100px;
  transition: ease-out 300ms;
}

.hidden {
  display: none;
}

#minimized-mask {
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding-top: 25px;
  padding-left: 35px;
}

#minimized-mask:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
}

/* Mobile */


/* Tablet */
