<md-toolbar class="player">
    <div fxLayout="row" fxLayoutAlign="left center" style="width: 100%" class="handwriting shadow">
        <button id="control-button" md-fab color="primary" (click)="toggleVideo()" [disabled]="ytEvent === 3">
          <md-spinner *ngIf="ytEvent === 3"></md-spinner>
          <md-icon class="md-36">play_arrow</md-icon>
        </button>
        <div style="margin-left: 20px;">
          {{ currentVideo.song }} <br>
          {{ currentVideo.album }}
        </div>
        <span class="flex-spacer"></span>
        <div id="mini-player-container" class="item right">
          <button md-icon-button (click)="toggleSize()">
            <md-icon [ngClass]="{'fa-arrow-circle-down': playerSize === 'expanded', 'fa-arrow-circle-up': playerSize === 'minimized'}" class="fa fa-2x"></md-icon>
          </button>
        </div>
        <div id="player-container" [@playerState]="playerSize" [ngClass]="{'hidden': playerSize === 'minimized' && media.isActive('xs')}">
          <youtube-player
            [height]="playerHeight"
            [width]="playerWidth"
            [videoId]="currentVideo.id" 
            (ready)="setPlayer($event)"
            (change)="onStateChange($event)">
          </youtube-player>
          <div *ngIf="playerSize === 'minimized'" (click)="toggleSize()" id="minimized-mask">
              <md-icon class="fa fa-2x fa-expand"></md-icon>              
          </div>
        </div>
    </div>  
</md-toolbar>
