md-toolbar {
  position: fixed;
  bottom: 0;
}
#player-container {
  position: fixed;
  right: 2px;
  /*background: #000;*/
  z-index: 999;
}

.player {
  /*background: rgba(255,255,255,0.6) !important;*/
  /*backdrop-filter: blur(10px) !important;*/
  /*box-shadow: 0 -2px 1px rgba(0,0,0,0.3) !important;*/
}

.hidden {
  display: none;
}

#minimized-mask {
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding-top: 13px;
  padding-left: 35px;
}

#minimized-mask:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
}