<ion-button class="handwriting" color="dark" routerLink="/" routerDirection="back">
  Home
</ion-button>
<ion-button class="handwriting" color="dark" routerLink="/shows">
  Shows
</ion-button>
<ion-button class="handwriting" [class.active-item]="selectedPath.startsWith('/music')" color="dark" routerLink="/music">
  Music
</ion-button>
<ion-button class="handwriting" color="dark" routerLink="/videos">
  Videos
</ion-button>
<ion-button class="handwriting" color="dark" href="https://store.builttospill.com" target="_blank">
  Merch
</ion-button>