<div style="background: rgba(0,0,0,0.5); padding-bottom: 70px;">
  <div class="content-container" [style.backgroundImage]="media.isActive('xs') ? mobileStyle : 'none'" [ngClass]="{'mobile-background': media.isActive('xs')}">    
    <div fxLayout="row" fxLayoutAlign="center" [ngClass]="{'mobile-blur': media.isActive('xs')}" class="content-container handwriting shadow padding">
        
      <button [disabled]="album.tracks.indexOf(currentTrack) > -1" (click)="playVideo($event, album.tracks[0], album.tracks)" md-fab color="primary">
        <md-icon [ngClass]="{'fa-volume-up': album.tracks.indexOf(currentTrack) > -1, 'fa-play': album.tracks.indexOf(currentTrack) < 0}" class="fa fa-2x"></md-icon>
        <!-- <app-audio-spectrum></app-audio-spectrum> -->
      </button>
      <h1 style="margin-top: 0; margin-bottom: 0; margin-left: 20px;">{{ album.title }}</h1>
      <span class="flex-spacer"></span>
    </div>  
  </div>
  <div class="content-container">
    <div fxLayout="row" fxLayout.xs="column" class="black-background">
      <div fxFlex="33" class="padding" >
        <md-card class="md-elevation-z2">
          <img *ngIf="!media.isActive('xs')" md-card-image [src]="album.image.url" width="100%" alt="Photo of a Shiba Inu">
          <md-card-content *ngIf="!media.isActive('xs')">
            <p class="handwriting">
              Released: {{ album.releaseDate | date }} 
            </p>
          </md-card-content>
          <md-card-actions fxLayout="row" fxLayoutAlign="space-around center">
            <a *ngIf="album.links.vinyl" mdTooltip="Buy Vinyl" md-icon-button color="warn" [href]="album.links.vinyl" target="_blank"><md-icon class="fa fa-credit-card fa-2x"></md-icon></a>
            <a *ngIf="album.links.appleMusic" mdTooltip="Listen on Apple Music" md-icon-button color="" [href]="album.links.appleMusic" target="_blank"><md-icon class="fa fa-apple fa-2x"></md-icon></a>
            <a *ngIf="album.links.spotify" mdTooltip="Listen on Spotify" md-icon-button color="accent" [href]="album.links.spotify" target="_blank"><md-icon class="fa fa-spotify fa-2x"></md-icon></a>
            <a *ngIf="album.links.googleMusic" mdTooltip="Listen on Google Music" md-icon-button color="primary" [href]="album.links.googleMusic" target="_blank"><md-icon class="fa fa-google fa-2x"></md-icon></a>
          </md-card-actions>
        </md-card>
      </div>
        <md-list fxFlex>
          <md-list-item *ngFor="let track of album.tracks" (click)="playVideo($event, track, album.tracks)">
              <md-icon md-list-icon [ngClass]="{'fa-youtube-play': currentTrack !== track, 'fa-volume-up': currentTrack === track}" class="fa"></md-icon>
              <h4 class="handwriting" md-line>{{ track.song }}</h4>
              <p md-line class="muted-text">{{ track.time }}</p>
          </md-list-item>
        </md-list>        
    </div>
  </div>
</div>