

<ion-content style="--background: transparent">
  <div style="text-align: center">
    <img src="/assets/horseman.png">
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="8">
          <ion-card *ngIf="shows$ | async as shows">
            <ion-card-header  color="light">
              <ion-card-title class="handwriting">
                SHOWS
              </ion-card-title>
            </ion-card-header>
            
              <app-shows [shows]="shows" limit="4"></app-shows>
            
            <div class="ion-padding ion-text-center" style="background-color: var(--ion-color-light)">
              <ion-button routerLink="/shows">
                View All {{ shows.length }} Shows <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="4">
          <ion-card *ngIf="randomProduct1" [href]="'https://builttospill.bigcartel.com/'+ randomProduct1.url" target="_blank" button>
            <ion-item color="light">
              <ion-icon name="pricetag" color="success" slot="start"></ion-icon>
              <ion-label>
                <h2 class="handwriting">Merch</h2>
              </ion-label>
            </ion-item>
            <ion-img [src]="randomProduct1.images[0].url"></ion-img>
            <ion-item lines="none" detail>
              <!-- <ion-icon slot="start" name="pricetag" color="success" size="large"></ion-icon> -->
              <ion-label class="ion-text-wrap">
                <h2>{{ randomProduct1.name }}</h2>
                <p>{{ randomProduct1.price | currency }}</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ion-card>
      <ion-card-header color="light">
        <ion-card-title class="handwriting">
          VIDEOS
        </ion-card-title>
      </ion-card-header>
      <app-videos [videos]="videos | async"></app-videos>
    </ion-card>
    
    <p>&nbsp;</p>
    <p>&nbsp;</p>


      <ion-card>
        <ion-card-header  color="light">
          <ion-card-title class="handwriting">Music</ion-card-title>
        </ion-card-header>
          <div *ngIf="album as recentAlbum" style="background: var(--ion-color-light)">
            <!-- <pre> {{ recentAlbum | json }}</pre>   -->
            <ion-grid>
                <ion-row class="ion-align-items-start">
                  <ion-col size-sm="4" size="12" size-md="10" offset-md="1" size-lg="4" offset-lg="0" class="ion-align-self-start">
                    <!-- <h1 class="handwriting" style="font-size: 28px; font-weight: 700;">LATEST</h1> -->
                    <ion-img [src]="recentAlbum.image.url"></ion-img>
                    <ion-list>
                      <ion-list-header><h1>Buy</h1></ion-list-header>
                      <ion-item *ngIf="album.links.vinyl" color="light" [href]="album.links.vinyl" detail>Vinyl</ion-item>
                      <ion-item *ngIf="album.links.cd" color="light" [href]="album.links.cd" detail>CD</ion-item>
                      <ion-item *ngIf="album.links.cassette" color="light" [href]="album.links.cassette" detail> Cassette</ion-item>
                      <ion-item *ngIf="album.links.googleMusic" color="primary" [routerLink]="album.links.googleMusic"><ion-icon slot="start" name="logo-googleplay"></ion-icon> Google</ion-item>
                    </ion-list>
                    
                  </ion-col>
                  <ion-col size-sm="8" size-md="12" size-lg="8" size="12">
        
                    <ion-list>
                      <ion-list-header>
                        <h3 class="handwriting">{{ recentAlbum.title }}</h3>
                      </ion-list-header>
                      <ion-item *ngFor="let track of recentAlbum.tracks" (click)="playVideo($event, track, album.tracks, false)" [class.active-item]="track === currentVideo" button>
                        <ion-icon slot="start" [name]="track === currentVideo ? 'volume-high' : 'logo-youtube'" color="danger"></ion-icon>
                        <ion-label>
                          <div class="handwriting">{{ track.song }}</div>
                          <p>{{ track.time }}</p>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
      </ion-card>

      <p>&nbsp;</p>
      <p>&nbsp;</p>

      <ion-card>
        <ion-card-header color="light">
          <ion-card-title class="handwriting">Merch</ion-card-title>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let product of products" size="12" size-sm="6" size-md="6" size-lg="4">
              <ion-card button [href]="'https://builttospill.bigcartel.com/'+ product.url" target="_blank">
                <img [src]="product.images[0].url">
                <!-- <ion-card-content> -->
                  <ion-item lines="none">
                    <ion-icon slot="start" name="pricetag" color="success" size="large"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      <h2>{{ product.name }}</h2>
                      <p>{{ product.price | currency }}</p>
                    </ion-label>
                  </ion-item>
                <!-- </ion-card-content> -->
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
     </div>
</ion-content>
<ion-footer style="height: 70px;">
  <ion-toolbar></ion-toolbar>
</ion-footer>
