<!--<div class="ui inverted vertical masthead center aligned segment show-art">
  <div class="ui text container">
    <h2 class="ui inverted header"><i class="map middle aligned icon"></i> SHOWS</h2>
  </div>
</div>-->

<!--<div class="show-art">-->
<div class="shows-bg">
  <div class="shows-container ui container">
    <h1 class="ui inverted shadow header"><i class="map middle aligned icon"></i> SHOWS</h1>
    <div *ngIf="showsLoading" class="ui segment" style="height: 100px;">
      <div class="ui active dimmer">
        <div class="ui text loader">Loading</div>
      </div>
      <p></p>
    </div>
    <table *ngIf="!showsLoading" class="ui inverted stackable table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Venue</th>
          <th>Location</th>
          <th class="right aligned"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let show of shows">
          <td *ngIf="show.datetime">{{ show.datetime | date }}</td>
          <td *ngIf="show.datetime">{{ show.venue.name }}</td>
          <td *ngIf="show.datetime">{{ show.venue.city }}, {{ show.venue.region }}</td>
          <td *ngIf="show.datetime" class="right aligned">
            <a *ngIf="show.offers[0]" [href]="show.offers[0].url" blank="_blank" class="ui primary labeled icon button">
              <i class="ticket icon"></i> Tickets 
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>