<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title class="header-logo">
      BUILT TO SPILL
    </ion-title>
    <ion-buttons class="ion-hide-sm-down" slot="end">
      <ion-button routerLink="/">
        Home
      </ion-button>
      <ion-button routerLink="/shows">
        Shows
      </ion-button>
      <ion-button routerLink="/music">
        Music
      </ion-button>
      <ion-button routerLink="/videos">
        Videos
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="header-logo">
        BUILT TO SPILL
      </ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
