.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*background-color: #1B1C1D;*/
  /*background: url('../assets/art/7.jpg') !important;*/

  /*background: url('../assets/posters/space_bg.jpg') !important;*/
  /*background-size: cover !important;*/
  /*background-size: auto 100% !important;*/

}

.footer-spacer {
  height: 74px;
}

.pusher > .footer {
  flex: 1;
}

.menu-link {
  /*font-family: 'Dosis', sans-serif;*/
  /*letter-spacing: 0.2em;*/
  text-transform: lowercase !important;

}