<ion-app>
  <ion-header>
    <ion-toolbar color="light">
      <ion-title class="header-logo">
        BUILT TO SPILL
      </ion-title>
      <ion-buttons class="ion-hide-sm-down" slot="primary">
        <ion-button routerLink="/">
          Home
        </ion-button>
        <ion-button routerLink="/shows">
          Shows
        </ion-button>
        <ion-button routerLink="/music">
          Music
        </ion-button>
        <ion-button routerLink="/videos">
          Videos
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
