.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer-spacer {
  height: 74px;
}

.pusher > .footer {
  flex: 1;
}

.menu-link {
  text-transform: lowercase !important;
}

.item.menu-link.active {
  border-bottom: 4px solid #2185d0;
  padding-bottom: 10px;
}