<ion-list lines="none">
  <ion-list-header class="ion-hide-sm-down" color="light">
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>
                Date
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>
                Venue
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label>
                Location
              </ion-label>
            </ion-col>
            <ion-col>
              
            </ion-col>
          </ion-row>
        </ion-grid>

  </ion-list-header>
  <!-- | slice:0:3 -->
  <ion-item *ngFor="let show of shows | slice:0:limit || shows.length">
    <ion-label>
        <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm>
                <p>{{ show.datetime | date }}</p>
              </ion-col>
              <ion-col size="12" size-sm>
                <h2>{{ show.venue.name }}</h2>
              </ion-col>
              <ion-col size="12" size-sm>
                <h3>{{ show.venue.city }}, {{ show.venue.region }}</h3>
              </ion-col>
              <ion-col class="ion-hide-sm-down" size="12" size-sm>
                <div class="ion-text-end">
                  <!-- <ion-button *ngIf="show.offers[0]" slot="end" [href]="show.offers[0].url" blank="_blank" color="primary">
                    <fa-icon [icon]="faTicket"></fa-icon>&nbsp;Tickets
                  </ion-button> -->
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-label>
    <ion-button *ngIf="show.offers[0]" slot="end" [href]="show.offers[0].url" blank="_blank" color="primary">
      <fa-icon [icon]="faTicket"></fa-icon>&nbsp;Tickets
    </ion-button>
  </ion-item>
</ion-list>