<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    
    <h1 class="ion-padding" style="font-weight: 900; text-shadow: 2px 2px #000;">
      <fa-icon [icon]="faMap"></fa-icon>&nbsp;SHOWS</h1>
    <app-shows [shows]="shows | async" limit="3"></app-shows>
    <div style="text-align: center" class="ion-padding">
      <ion-button routerLink="/shows" size="large">All Upcoming Shows <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </div>
    
    <h1 class="ion-padding" style="font-weight: 900; text-shadow: 2px 2px #000">
      <ion-icon slot="start" name="logo-youtube"></ion-icon>&nbsp;VIDEOS
    </h1>
    <app-videos [videos]="videos | async"></app-videos>
  </div>
  <div style="background: var(--ion-color-light)">
    <div class="container">
        <div *ngIf="album as untetheredMoon" class="ion-padding" style="background: var(--ion-color-light)">
          <!-- <pre> {{ untetheredMoon | json }}</pre>   -->
          <ion-grid>
              <ion-row>
                <ion-col size-sm="6" size="12" class="ion-align-self-center">
                  <ion-img [src]="untetheredMoon.image.url"></ion-img>
                  <ion-list>
                    <!-- <ion-list-header>Buy</ion-list-header> -->
                    <ion-item *ngIf="album.links.vinyl" color="primary" [routerLink]="album.links.vinyl"><ion-icon slot="start" name="card"></ion-icon> Vinyl</ion-item>
                    <ion-item *ngIf="album.links.appleMusic" color="primary" [routerLink]="album.links.appleMusic"><ion-icon slot="start" name="logo-apple"></ion-icon> Music</ion-item>
                    <ion-item *ngIf="album.links.spotify" color="primary" [routerLink]="album.links.spotify"><fa-icon slot="start" [icon]="faSpotify"></fa-icon> Spotify</ion-item>
                    <!-- <ion-item *ngIf="album.links.googleMusic" color="primary" [routerLink]="album.links.googleMusic"><ion-icon slot="start" name="logo-googleplay"></ion-icon> Google</ion-item> -->
                  </ion-list>
                </ion-col>
                <ion-col size-sm="6" size="12">
      
                  <ion-list>
                    <ion-list-header>
                      <h3 class="handwriting">{{ untetheredMoon.title }}</h3>
                    </ion-list-header>
                    <ion-item *ngFor="let track of untetheredMoon.tracks">
                      <ion-icon slot="start" name="logo-youtube"></ion-icon>
                      <ion-label>
                        <div class="handwriting">{{ track.song }}</div>
                        <ion-note>{{ track.time }}</ion-note>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
    </div>
  </div>
</ion-content>
