<div style="margin-top: 80px;"></div>
<div class="ui very padded">
  <div class="shows-container ui very padded container">
  <h2 class="ui inverted shadow header"><i class="map middle aligned icon"></i> SHOWS</h2>
  <div *ngIf="showsLoading" class="ui segment" style="height: 100px;">
    <div class="ui active dimmer">
      <div class="ui text loader">Loading</div>
    </div>
    <p></p>
  </div>
  <table *ngIf="!showsLoading" class="ui inverted stackable table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Venue</th>
        <th>Location</th>
        <th class="right aligned"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let show of shows | slice:0:3">
        <td *ngIf="show.datetime">{{ show.datetime | date }}</td>
        <td *ngIf="show.datetime">{{ show.venue.name }}</td>
        <td *ngIf="show.datetime">{{ show.venue.city }}, {{ show.venue.region }}</td>
        <td *ngIf="show.datetime" class="right aligned">
          <a *ngIf="show.offers[0]" [href]="show.offers[0].url" blank="_blank" class="ui primary labeled icon button">
            <i class="ticket icon"></i> Tickets 
          </a>
        </td>
      </tr>
    </tbody>
    <!-- <tfoot>
      <tr>
        <th colspan="4" class="right aligned">
          <a routerLink="shows" class="ui green right labeled icon button">All Upcoming Shows <i class="right arrow icon"></i></a>
        </th>
      </tr>
    </tfoot> -->
  </table>
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="center aligned column">
        <a routerLink="shows" class="ui huge primary button">All Upcoming Shows <i class="right arrow icon"></i></a>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
</div>

<div class="ui very padded vertical stripe segment">
  <div class="ui container">
    <h2 class="ui dividing header inverted"><i class="youtube play middle aligned icon"></i> VIDEOS</h2>
    <div class="ui four doubling cards">
      <div *ngFor="let video of videos;" class="ui card link">
        <a (click)="playVideo($event, video)" href="#" class="image">
          <img class="video-image" src="https://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
        </a>
        <div class="content">
          <a (click)="playVideo($event, video, videos)" href="#" class="handwriting header">          
            <i class="youtube play icon"></i>
            {{ video.song }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="center aligned column">
        <a routerLink="videos" class="ui huge primary button">More Videos <i class="right arrow icon"></i></a>
      </div>
    </div>
  </div>
</div>


<div class="ui inverted very padded vertical segment">
  <div class="ui container">
      <!--<h2 class="ui dividing header inverted"><i class="play middle aligned icon"></i> MUSIC</h2>-->
  </div>  

  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="seven wide centered column">
        <img [src]="album.image.url" class="ui large bordered image">
      </div>
      <div class="six wide left floated column">
        <h3 class="handwriting">{{ album.title }}</h3>
        <div class="ui inverted relaxed divided selection list">
          <a *ngFor="let track of album.tracks" (click)="playVideo($event, track, album.tracks)" href="#" class="item">
            <i class="large youtube play middle aligned icon"></i>
            <div class="content">
              <div class="header handwriting">{{ track.song }}</div>
              <div class="description">{{ track.time }}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a routerLink="music" class="ui huge primary button">More Music <i class="right arrow icon"></i></a>
      </div>
    </div>
  </div>
</div>


<div class="ui inverted very padded segment" style="margin-top: 0">
    <div class="ui container">
      <h2 class="ui inverted dividing header"><i class="payment middle aligned icon"></i> MERCH</h2>

      <div class="ui four doubling cards">
        <div class="card">
          <img width="100%" src="../assets/albums/untethered-moon.jpg">
          <div class="content">
            <div class="header">Untethered Moon LP</div>
          </div>
          <a href="http://store.warnermusic.com/warner-bros-records/artists/built-to-spill/untethered-moon-lp.html" target="_blank" class="ui bottom attached green button">
            <i class="cart icon"></i>
            $19.98
          </a>
        </div>
        <div class="card">
          <img width="100%" src="../assets/merch/keep-it.jpg">
          <div class="content">
            <div class="ui inverted header">Keep It Like A Secret Vinyl + Light Blue T-Shirt Bundle</div>
          </div>
          <a href="http://store.warnermusic.com/warner-bros-records/artists/built-to-spill/keep-it-like-a-secret-vinyl-light-blue-t-shirt-bundle.html" target="_blank" class="ui bottom attached green button">
            <i class="cart icon"></i>
            $34.99
          </a>
        </div>
        <div class="card">
          <img width="100%" src="../assets/merch/perfect.png">
          <div class="content">
            <div class="header">Perfect From Now On Vinyl + T-Shirt Bundle</div>
          </div>
          <a href="http://store.warnermusic.com/warner-bros-records/artists/built-to-spill/perfect-from-now-on-vinyl-t-shirt-bundle.html" target="_blank" class="ui bottom attached green button">
            <i class="cart icon"></i>
            $34.99
          </a>
        </div>
        <div class="card">
          <img width="100%" src="../assets/albums/no-enemy.jpeg">
          <div class="content">
            <div class="header">There Is No Enemy 2XLP + CD</div>
          </div>
          <a href="http://store.warnermusic.com/warner-bros-records/artists/built-to-spill/there-is-no-enemy-2xlp-cd.html" target="_blank" class="ui bottom attached green button">
            <i class="cart icon"></i>
            $24.98
          </a>
        </div>
      </div>
    </div> 
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="center aligned column">
          <a href="http://store.warnermusic.com/warner-bros-records/artists/built-to-spill.html" target="_blank" class="ui huge primary button">More Merch <i class="right arrow icon"></i></a>
        </div>
      </div>
    </div>
  </div>
