.home-hero {
  height: 400px !important;
  background: url('../../assets/art/1-lg.jpg') !important;
  background-size: cover !important;
  /*background-position-y: center !important;*/
}

.masthead {
  height: 80px;
}

h2 {
  text-shadow: 2px 2px #000;
}