<div class="ui segment" style="background: transparent;">
  <div class="ui container music-container">
    <div id="albums" class="">
      <h1 class="ui inverted shadow header">ALBUMS</h1>
      <div class="ui three stackable cards">
        <div *ngFor="let album of albums" class="ui card link">
          <a [routerLink]="['/music', album.id]" class="image" href="#">
            <img [src]="album.image.url">
          </a>
          <div class="content">
            <a [routerLink]="['/music', album.id]" class="header handwriting">{{ album.title }}</a>
            <div class="meta">
              <span class="date">{{ album.releaseDate | date }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
