<div id="album-detail">
  <h1>Album Details</h1>
  <img id="target">
</div>

<div id="albums" class="ui container">
  <h1>ALBUMS</h1>
  <div class="ui three stackable cards">
    <div class="ui card link">
      <a class="image" href="#">
        <img src="https://d1wtzzt4oxg683.cloudfront.net/images/covers/95/153095.jpg">
      </a>
      <div class="content">
        <a class="header">UNTETHERED MOON</a>
        <div class="meta">
          <span class="date">April 18, 2015</span>
        </div>
      </div>
    </div>
    <div class="ui card link">
      <a class="image album" data-image="#enemy" href="#">
        <img id="enemy" src="https://upload.wikimedia.org/wikipedia/en/f/ff/There_is_No_Enemy.jpg">
      </a>
      <div class="content">
        <a class="header album" data-image="#enemy">THERE IS NO ENEMY</a>
        <div class="meta">
          <span class="date">October 6, 2009</span>
        </div>
      </div>
    </div>
    <div class="ui card link">
      <a class="image album" data-image="reverse" href="#">
        <img id="reverse" src="http://static.musictoday.com/store/bands/93/product_large/MUDD4053.JPG">
      </a>
      <div class="content">
        <a class="header">YOU IN REVERSE</a>
        <div class="meta">
          <span class="date">April 11, 2006</span>
        </div>
      </div>
    </div>
  </div>
</div>