md-list-item:hover {
  background-color: #2C2C2C;
  cursor: pointer;
}

.mobile-background {
  /* background-image: url('../../assets/albums/untethered-moon.jpg'); */
  background-size: cover;
  background-position: center;
  width: 100%;
}