<div class="content-container" style="width: 100%; min-height: 100px;">
  <div fxLayout="row" fxLayoutAlign="left" class="content-container handwriting shadow padding">
    <h1 style="margin-top: 0; margin-bottom: 0;"><md-icon class="fa fa-youtube-play"></md-icon> Music Videos</h1>
  </div>  
</div>
<div class="content-container black-background">
  <div fxLayoutWrap fxLayout.xs="column" class="padding">
    <md-card *ngFor="let video of videos | videoType:'Music Video'" fxLayoutGap="5px" fxFlex.sm="33" fxFlex.md="25" fxFlex.lg="25" class="card-link">
        <md-card-content>
          <img md-card-image width="100%" src="http://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
        </md-card-content>
        <md-card-footer>
            <md-card-title class="handwriting"><md-icon class="fa fa-youtube-play"></md-icon>{{ video.song }}</md-card-title>
        </md-card-footer>
    </md-card>
  </div>
</div>
<div class="content-container" style="width: 100%; min-height: 100px;">
  <div fxLayout="row" fxLayoutAlign="left" class="content-container handwriting shadow padding">
    <h1 style="margin-top: 0; margin-bottom: 0;"><md-icon class="fa fa-youtube-play"></md-icon> Live</h1>
  </div>  
</div>
<div class="content-container black-background">
  <div fxLayoutWrap fxLayout.xs="column" class="padding">
    <md-card *ngFor="let video of videos | videoType:'Live'" fxFlex.sm="33" fxFlex.md="25" fxFlex.lg="25">
        <md-card-content>
          <img md-card-image width="100%" src="http://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
        </md-card-content>
        <md-card-footer>
            <md-card-title class="handwriting"><md-icon class="fa fa-youtube-play"></md-icon>{{ video.song }}</md-card-title>
        </md-card-footer>
    </md-card>
  </div>
</div>
<div class="content-container" style="width: 100%; min-height: 100px;">
  <div fxLayout="row" fxLayoutAlign="left" class="content-container handwriting shadow padding">
    <h1 style="margin-top: 0; margin-bottom: 0;"><md-icon class="fa fa-youtube-play"></md-icon> Covers</h1>
  </div>  
</div>
<div class="content-container black-background">
  <div fxLayoutWrap fxLayoutGap="5px" fxLayout.xs="column" class="padding">
    <md-card *ngFor="let video of videos | videoType:'Covers'" fxFlex.sm="33" fxFlex.md="25" fxFlex.lg="25">
        <md-card-content>
          <img md-card-image width="100%" src="http://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
        </md-card-content>
        <md-card-footer>
            <md-card-title class="handwriting"><md-icon class="fa fa-youtube-play"></md-icon>{{ video.song }}</md-card-title>
        </md-card-footer>
    </md-card>
  </div>
</div>
