<div class="videos-container">
  <div class="ui container">
    <h2 class="ui inverted header">MUSIC VIDEOS</h2>

    <div class="ui four doubling cards">
      <div *ngFor="let video of videos | videoType:'Music Video'" class="ui card link">
        <a (click)="playVideo($event, video, videos)" href="#" class="image">
          <img class="video-image" src="http://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
        </a>
        <div class="content">
          <a (click)="playVideo($event, video)" href="#" class="handwriting header">          
            <i class="youtube play icon"></i>
            {{ video.song }}
          </a>
        </div>
      </div>
    </div>
    <h2 class="ui inverted header">LIVE</h2>

    <div class="ui four doubling cards">
      <div *ngFor="let video of videos | videoType:'Live'" class="ui inverted card link">
        <a (click)="playVideo($event, video)" href="#" class="image">
          <img class="video-image" src="http://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
        </a>
        <div class="content">
          <a (click)="playVideo($event, video, videos)" href="#" class="handwriting header">          
            <i class="youtube play icon"></i>
            {{ video.song }}
          </a>
        </div>
      </div>
    </div>

    <h2 class="ui inverted header">COVERS</h2>

    <div class="ui four doubling cards">
      <div *ngFor="let video of videos | videoType:'Cover'" class="ui card link">
        <a (click)="playVideo($event, video)" href="#" class="image">
          <img class="video-image" src="http://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg">
        </a>
        <div class="content">
          <a (click)="playVideo($event, video, videos)" href="#" class="handwriting header">          
            <i class="youtube play icon"></i>
            {{ video.song }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>